.input-ele {
  margin: 1rem;
}

main {
  min-height: 35rem;
}

.plus-btn {
  color: white;
  font-weight: bold;
  align-items: center;
}

.badge {
  cursor: pointer;
}

.question-accordion {
  overflow: auto;
}

.red-shadow {
  box-shadow: 0 0 50px;
  transition: 0.3s color;
}

.edit-quiz-btn {
  cursor: pointer;
  opacity: 0.6;
  font-size: 14px;
  margin: 0.5rem;
  float: left;
}

.edit-quiz-btn:hover {
  opacity: 1;
}

.btn-close {
  font-size: 12px;
}

.delete-quiz-btn {
  cursor: pointer;
  float: right;
  font-size: 14px;
  opacity: 0.6;
  font-weight: bold;
}

.delete-quiz-btn:hover {
  opacity: 1;
}

main {
  margin: 1rem auto;
}

.card {
  margin: 0.3rem;
}

.card-header {
  background-color: white;
}

.disabled-btn {
  pointer-events: none;
  opacity: 0.5;
  background-color: rgb(202, 202, 202);
}

.quiz-nav-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.badge {
  align-items: center;
}

.badge-center span {
  line-height: 14px;
}

.accordion-collapse {
  border: none !important;
  border-color: rgb(255, 255, 255) !important;
}

.accordion-button {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  color: rgb(0, 0, 0) !important;
  background-color: rgb(255, 255, 255) !important;
  border: none !important;
  border-radius: 0 !important;
}

.accordion-body {
  border: none !important;
  border-color: rgb(255, 255, 255) !important;
}

.accordion-body:focus {
  border: none !important;
  border-color: rgb(255, 255, 255) !important;
}

.list-group-item {
  border: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 1px solid black;
}

.accordion-button:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  color: rgb(0, 0, 0);
  background-color: rgb(243, 243, 243) !important;
  border-radius: 0 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn-blue {
  color: white;
  background-color: rgb(61, 12, 236);
}

.btn-pink {
  color: white;
  background-color: rgb(236, 12, 87);
}

.btn-balck {
  background-color: black;
  color: white;
}

.btn-pink, .btn-blue, .btn-balck {
  font-weight: 500;
}

.btn-blue:hover, .btn-pink:hover, .btn-balck:hover {
  color: white;
  opacity: 0.8;
}

.edit-icon {
  font-size: 14px;
  cursor: pointer;
  margin: 0.3rem;
}

.edit-icon {
  opacity: 0.6;
  text-decoration: none;
}

.edit-icon:hover {
  opacity: 1;
}

.center-element {
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1000;
  width: 80px;
  height: 80px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(236, 12, 87);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes animatebottom {
  from {
    bottom: 0px;
    opacity: 0
  }
  to {
    bottom: 0px;
    opacity: 1
  }
}

.animate-center {
  position: relative;
  -webkit-animation-name: animate-center;
  -webkit-animation-duration: 1s;
  animation-name: animate-center;
  animation-duration: 1s
}

@keyframes animate-center {
  from {
    bottom: -0px;
    opacity: 0
  }
  to {
    bottom: 0;
    opacity: 1
  }
}

.progress-bar {
  height: 0.5rem;
}